<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>合创电路有限公司</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all">
<script src="./js/jquery.min.js"></script>
<script type="text/javascript" src="js/zzsc.js"></script>
<script type="text/javascript" src="./js/macscript.js"></script>
</head>

<body class="home blog custom-background">
	<div class="wrapper">
		<header id="branding" >
        	<!--<img src="images/LOGO.jpg">---->
            <div class="main_top">
            	<img alt="" src="images/LOGO2.png">
            	<div id="trans">
                	<div class="contry_box">
                    	<a href="#">
                        	<img alt="" src="images/contry01.jpg">
                            <div class="text_center">中文</div>
                       </a>
                   </div> 
                   <div class="contry_box">
                   		<a href="#">
                        	<img alt="" src="images/contry02.jpg">
                            <div class="text_center">English</div>
                       </a>
                  </div>
              </div>
            </div>
<!--导航---->
<nav id="main-nav" class="clearfix">
	<div class="container clearfix">
    	<ul class="root">
    		<li><a href="index.html">首页</a></li>
			<li><a href="about.html">关于我们</a>
            	<ul class="sub-menu">
					<li><a href="about.html">公司简介</a></li>
					<li><a href="achievement.html">市场成就</a></li>
				</ul>
            </li>
			<li class="current_page_item current-menu-item"><a title="" href="#">产品中心</a>
            	<ul class="sub-menu">
					<li><a href="proshowhard.html">硬板</a></li>
					<li><a href="proshowsoft.html">软板</a></li>
                    <li><a href="proshowhs.html">软硬结合版</a></li>
				</ul>
            </li>
			<li><a title="" href="#">技术支持</a>
            	<ul class="sub-menu">
					<li><a href="macshow.html">设备展示</a></li>
					<li><a href="process.html">生产流程</a></li>
                    <li><a href="capacity.html">生产能力</a></li>
				</ul>
            </li>
			<li><a title="" href="quality.html">资质证书</a></li>
			<li><a title="" href="#">企业文化</a>
            	<ul class="sub-menu">
					<li><a href="culture.html">企业精神</a></li>
					<li><a href="new.html">新闻中心</a></li>
				</ul>
            </li>
			<li><a title="" href="#">人才招聘</a>
            	<ul class="sub-menu">
					<li><a href="talentidea.html">人才理念</a></li>
					<li><a href="welfare.html">酬薪福利</a></li>
				</ul>
            </li>
			<li><a title="" href="contact.html">联系我们</a></li>
			<li class="default-menu"><a href="#" title="Navigation">Navigation</a></li></ul></div>
</nav><!-- #main-nav -->
</header>
<!--导航结束--->



<!--内容-->
<div id="main">
	<div class="container">
		
         <div class="pro_introduce">
         	<div class="pro_title">
            	<h5>产品介绍——软板</h5>
            </div>
            
         	<div class="pro_box">
            <div class="pro_show">
                <div class="box_before">
                	<div class="box">
            			<div class="picbox">
							<ul class="piclist mainlist">
								<li><a href="#" target="_blank"><img src="images/prosoft01.png" /></a></li>
								<li><a href="#" target="_blank"><img src="images/prosoft02.png" /></a></li>
								<li><a href="#" target="_blank"><img src="images/prosoft03.jpg" /></a></li>
								<li><a href="#" target="_blank"><img src="images/prosoft04.jpg" /></a></li>
								<li><a href="#" target="_blank"><img src="images/prosoft05.jpg" /></a></li>
            					<li><a href="#" target="_blank"><img src="images/prosoft06.jpg" /></a></li>
								<li><a href="#" target="_blank"><img src="images/prosoft07.jpg" /></a></li>
                                <li></li>
							</ul>
        					<ul class="piclist swaplist"></ul>
						</div>
						<div class="og_prev"></div>
						<div class="og_next"></div>
                   </div> 
             </div>
         </div>
         </div>   
            
            <div class="pro_box">
                <div class="pro_img">
                	<img alt="" src="images/prosoft01.png">
                </div>
                <div class="pro_textshow">
                    <h6>软板</h6>
                    <ul>
                        <li>
                            层数
                            <div class="pro_data">1</div>
                        </li>
                        <li>
                            板厚
                            <div class="pro_data">0.1mm</div>
                        </li>
                        <li>
                            最小线宽线距
                            <div class="pro_data">0.12/0.15MM</div>
                        </li>
                        <li>
                            铜厚
                            <div class="pro_data">0.5oz</div>
                        </li>
                        <li>
                            表面处理
                            <div class="pro_data">沉金</div>
                        </li>
                    </ul>
                </div>
              </div><!--pro_box---->
              
              
              
              <div class="pro_box">
                <div class="pro_img">
                	<img alt="" src="images/prosoft02.png">
                </div>
                <div class="pro_textshow">
                    <h6>软板</h6>
                    <ul>
                        <li>
                            层数
                            <div class="pro_data">2</div>
                        </li>
                        <li>
                            板厚
                            <div class="pro_data">0.15MM</div>
                        </li>
                        <li>
                            最小线宽线距
                            <div class="pro_data">0.12/0.18MM</div>
                        </li>
                        <li>
                            铜厚
                            <div class="pro_data">1oz</div>
                        </li>
                        <li>
                            表面处理
                            <div class="pro_data">沉金</div>
                        </li>
                    </ul>
                </div>
              </div><!--pro_box---->
              
              
              
              <div class="pro_box">
                <div class="pro_img">
                	<img alt="" src="images/prosoft03.jpg">
                </div>
                <div class="pro_textshow">
                    <h6>软板</h6>
                    <ul>
                        <li>
                            层数
                            <div class="pro_data">2</div>
                        </li>
                        <li>
                            板厚
                            <div class="pro_data">0.1MM</div>
                        </li>
                        <li>
                            最小线宽线距
                            <div class="pro_data">0.13/0.18MM</div>
                        </li>
                        <li>
                            铜厚
                            <div class="pro_data">0.5oz</div>
                        </li>
                        <li>
                            表面处理
                            <div class="pro_data">沉金</div>
                        </li>
                    </ul>
                </div>
              </div><!--pro_box---->
              
              
              <div class="pro_box">
                <div class="pro_img">
                	<img alt="" src="images/prosoft04.jpg">
                </div>
                <div class="pro_textshow">
                    <h6>软板</h6>
                    <ul>
                        <li>
                            层数
                            <div class="pro_data">1</div>
                        </li>
                        <li>
                            板厚
                            <div class="pro_data">0.1MM</div>
                        </li>
                        <li>
                            最小线宽线距
                            <div class="pro_data">0.13/0.18MM</div>
                        </li>
                        <li>
                            铜厚
                            <div class="pro_data">1.0oz</div>
                        </li>
                        <li>
                            表面处理
                            <div class="pro_data">沉金</div>
                        </li>
                    </ul>
                </div>
              </div><!--pro_box---->
              
              <div class="pro_box">
                <div class="pro_img">
                	<img alt="" src="images/prosoft05.jpg">
                </div>
                <div class="pro_textshow">
                    <h6>软板</h6>
                    <ul>
                        <li>
                            层数
                            <div class="pro_data">2</div>
                        </li>
                        <li>
                            板厚
                            <div class="pro_data">0.1MM</div>
                        </li>
                        <li>
                            最小线宽线距
                            <div class="pro_data">0.13/0.18MM</div>
                        </li>
                        <li>
                            铜厚
                            <div class="pro_data">1.0oz</div>
                        </li>
                        <li>
                            表面处理
                            <div class="pro_data">沉金</div>
                        </li>
                    </ul>
                </div>
              </div><!--pro_box---->
              
              
              <div class="pro_box">
                <div class="pro_img">
                	<img alt="" src="images/prosoft06.jpg">
                </div>
                <div class="pro_textshow">
                    <h6>软板</h6>
                    <ul>
                        <li>
                            层数
                            <div class="pro_data">2</div>
                        </li>
                        <li>
                            板厚
                            <div class="pro_data">0.12MM</div>
                        </li>
                        <li>
                            最小线宽线距
                            <div class="pro_data">0.13/0.18MM</div>
                        </li>
                        <li>
                            铜厚
                            <div class="pro_data">1.5oz</div>
                        </li>
                        <li>
                            表面处理
                            <div class="pro_data">沉金</div>
                        </li>
                    </ul>
                </div>
              </div><!--pro_box---->
              
              <div class="pro_box">
                <div class="pro_img">
                	<img alt="" src="images/prosoft07.jpg">
                </div>
                <div class="pro_textshow">
                    <h6>软板</h6>
                    <ul>
                        <li>
                            层数
                            <div class="pro_data">1</div>
                        </li>
                        <li>
                            板厚
                            <div class="pro_data">0.12MM</div>
                        </li>
                        <li>
                            最小线宽线距
                            <div class="pro_data">0.12/0.16MM</div>
                        </li>
                        <li>
                            铜厚
                            <div class="pro_data">1.5oz</div>
                        </li>
                        <li>
                            表面处理
                            <div class="pro_data">沉金</div>
                        </li>
                    </ul>
                </div>
              </div><!--pro_box---->
         </div>
      
</div><!-- .container -->
			
         
	</div>
    
    <div id="footer">
    	<div class="container">
    		<div class="foot_box">Copyright © 合创电路有限公司 电话:+86 0755-89230220 传真:0755-89250616     粤ICP备11072830
</div>
        	
        </div>
    </div>
    
</div>

	
</div>



</body>
</html>
