<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>合创电路有限公司</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all">
<script src="./js/jquery.min.js"></script>
<script type="text/javascript" src="js/zzsc.js"></script>
</head>

<body class="home blog custom-background">
	<div class="wrapper">
		<header id="branding" >
        	<!--<img src="images/LOGO.jpg">---->
            <div class="main_top">
            	<img alt="" src="images/LOGO2.png">
            	<div id="trans">
                	<div class="contry_box">
                    	<a href="#">
                        	<img alt="" src="images/contry01.jpg">
                            <div class="text_center">中文</div>
                       </a>
                   </div> 
                   <div class="contry_box">
                   		<a href="#">
                        	<img alt="" src="images/contry02.jpg">
                            <div class="text_center">English</div>
                       </a>
                  </div>
              </div>
            </div>
<!--导航---->
<nav id="main-nav" class="clearfix">
	<div class="container clearfix">
    	<ul class="root">
    		<li><a href="index.html">首页</a></li>
			<li><a href="about.html">关于我们</a>
            	<ul class="sub-menu">
					<li><a href="about.html">公司简介</a></li>
					<li><a href="achievement.html">市场成就</a></li>
				</ul>
            </li>
			<li><a title="" href="#">产品中心</a>
            	<ul class="sub-menu">
					<li><a href="proshowhard.html">硬板</a></li>
					<li><a href="proshowsoft.html">软板</a></li>
                    <li><a href="proshowhs.html">软硬结合版</a></li>
				</ul>
            </li>
			<li><a title="" href="#">技术支持</a>
            	<ul class="sub-menu">
					<li><a href="macshow.html">设备展示</a></li>
					<li><a href="process.html">生产流程</a></li>
                    <li><a href="capacity.html">生产能力</a></li>
				</ul>
            </li>
			<li><a title="" href="quality.html">资质证书</a></li>
			<li><a title="" href="#">企业文化</a>
            	<ul class="sub-menu">
					<li><a href="culture.html">企业精神</a></li>
					<li><a href="new.html">新闻中心</a></li>
				</ul>
            </li>
            <li class="current_page_item current-menu-item"><a title="" href="#">人才招聘</a>
            	<ul class="sub-menu">
					<li><a href="talentidea.html">人才理念</a></li>
					<li><a href="welfare.html">酬薪福利</a></li>
				</ul>
            </li>
			<li><a title="" href="contact.html">联系我们</a></li>
			<li class="default-menu"><a href="#" title="Navigation">Navigation</a></li></ul></div>
</nav><!-- #main-nav -->
</header>
<!--导航结束--->


<div class="callbacks_container">
        	<img src="images/headpic01.jpg" alt="">
        </div>

<!--内容-->

<div id="main">
	<div class="container">
		
          <div class="idea_introduce">
         	<div class="idea_title">
            	<h5>人才理念</h5>
            </div>
         	<div class="idea_box">
        		<div class="idea_show_left">
                    <div class="text_bg">
                        <h6>人人是人才</h6>
                        <ul>
                            <li>人才是赛出来的，不是看出来的，我们尊重每个人的知识和能力，注重对员工的素质培养</li>
                            <li>我们提供公平竞争的机会和环境</li>
                            <li>力求员工以竞争合作方式实现自我价值</li>
                            <li>知识是员工最大的财富，人才是企业最大的资产</li>
                        </ul>
                    </div>
                     <div class="text_bg text_top">
                        <h6>德才兼备，德为先，从贤不从众</h6>
                     
                        <ul>
                            <li>对于德才兼备，有德少才的员工，公司要尽可能地创造适宜于他们生存和发展的工作和生活环境，让他们留在公司很好地工作下去</li>
                            <li>有德有才的员工，优先使用；有德无才的员工，培养使用；有才无德的员工，限制使用；无德无才的员工，坚决不用。</li>
                        </ul>
                    </div>
                    <div class="text_bg text_top">
                        <ul>
                            <li>海阔凭鱼跃，天高任鸟飞，愿此成为您美好事业的起点！</li>
                            <li>我们期待你的加入，携手共创辉煌。</li>
                        </ul>
                    </div>
                </div>
                <div class="idea_show_right img_center">
        			<img alt="" src="images/imgri.jpg">
        		</div>
            </div>
        </div>
      
</div><!-- .container -->
			
         
	</div>
    
    <div id="footer">
    	<div class="container">
    		<div class="foot_box">Copyright © 合创电路有限公司 电话:+86 0755-89230220 传真:0755-89250616     粤ICP备11072830
</div>
        	
        </div>
    </div>
    
</div>

	
</div>



</body>
</html>
