<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$name.content}</title>
<link href="__PUBLIC__/Index/css/style.css" rel="stylesheet" type="text/css" media="all">
<script src="__PUBLIC__/Index/js/jquery.min.js"></script>
<script src="__PUBLIC__/Index/js/zzsc.js"></script>
</head>

<body class="home blog custom-background">
    <div class="wrapper">
        <header id="branding" >
            <!--<img src="images/LOGO.jpg">-->
             <div class="main_top">
                <img alt="" src="__PUBLIC__/Image/LOGO2.png">
                <div id="trans">
                    <div class="contry_box">
                        <a href="?lang=zh-cn">
                            <img alt="" src="__PUBLIC__/Image/contry01.jpg">
                            <div class="text_center">中文</div>
                       </a>
                   </div> 
                   <div class="contry_box">
                        <a href="?lang=en-us">
                            <img alt="" src="__PUBLIC__/Image/contry02.jpg">
                            <div class="text_center">English</div>
                       </a>
                  </div>
              </div>
            </div>
<!--导航-->
<nav id="main-nav" class="clearfix">
    <div class="container clearfix">
        <ul class="root">
            <li><a href="{:U('Index/index')}?lang=zh-cn">首页</a></li>
            <li><a href="{:U('About/index')}?lang=zh-cn">关于我们</a>
                <ul class="sub-menu">
                    <li><a href="{:U('About/index')}?lang=zh-cn">公司简介</a></li>
                    <li><a href="{:U('About/achievement')}?lang=zh-cn">市场成就</a></li>
                </ul>
            </li>
            <li><a title="" href="#">产品中心</a>
                <ul class="sub-menu">
                    <li><a href="{:U('Production/hard')}?lang=zh-cn">硬板</a></li>
                    <li><a href="{:U('Production/soft')}?lang=zh-cn">软板</a></li>
                    <li><a href="{:U('Production/mixture')}?lang=zh-cn">软硬结合版</a></li>
                </ul>
            </li>
            <li><a title="" href="#">技术支持</a>
                <ul class="sub-menu">
                    <li><a href="{:U('Support/device')}?lang=zh-cn">设备展示</a></li>
                    <li><a href="{:U('Support/process')}?lang=zh-cn">生产流程</a></li>
                    <li><a href="{:U('Support/ability')}?lang=zh-cn">生产能力</a></li>
                </ul>
            </li>
            <li><a title="" href="{:U('Quality/index')}?lang=zh-cn">资质证书</a></li>
            <li><a title="" href="#">企业文化</a>
                <ul class="sub-menu">
                    <li><a href="{:U('Culture/index')}?lang=zh-cn">企业理念</a></li>
                    <li><a href="{:U('Culture/news')}?lang=zh-cn">新闻中心</a></li>
                </ul>
            </li>
            <li class="current_page_item current-menu-item" ><a title="" href="#">人才招聘</a>
                <ul class="sub-menu">
                    <li><a href="{:U('Recruit/idea')}?lang=zh-cn">人才理念</a></li>
                    <li><a href="{:U('Recruit/welfare')}?lang=zh-cn">酬薪福利</a></li>
                </ul>
            </li>
            <li><a title="" href="{:U('Contact/index')}?lang=zh-cn">联系我们</a></li>
            <li class="default-menu"><a href="#" title="Navigation">Navigation</a></li></ul></div>
</nav><!-- #main-nav -->
</header>


<div class="callbacks_container">
        	<img src="images/headpic01.jpg" alt="">
        </div>

<!--内容-->

<div id="main">
	<div class="container">
		
          <div class="idea_introduce">
         	<div class="idea_title">
            	<h5>酬薪福利</h5>
            </div>
         	<div class="idea_box">
        		{$welfare.content}
                <div class="idea_show_right img_center">
        			<img alt="" src="__PUBLIC__/Image/imgri02.jpg">
        		</div>
            </div>
        </div>
      
</div><!-- .container -->
			
         
	</div>
    
    <div id="footer">
      <div class="container">
        <div class="foot_box">Copyright © {$name.content} 电话:{$telephone.content} 传真:{$fax.content} 备案:{$beian.content}
            </div>
        </div>
    </div>
    
</div>

	
</div>



</body>
</html>
