<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <title>企业文化建设</title>
    <link rel="icon" href="__PUBLIC__/Uploads/img/logo.png">
    <!-- Bootstrap core CSS -->
    <link href="__PUBLIC__/Admin/Css/bootstrap.min.css" rel="stylesheet">
    <script src="__PUBLIC__/Admin/Js/jquery.min.js"></script>
    <script src="__PUBLIC__/Admin/Js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/Js/docs.min.js"></script>
    <script src="__PUBLIC__/Admin/Js/ie10-viewport-bug-workaround.js"></script>

    <!-- Font-awesome core CSS -->
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="__PUBLIC__/Admin/Css/Operation.css" rel="stylesheet">

    <script type="text/javascript">
        $(document).ready(function() 
        {  

        });
    </script>

    <script type="text/javascript">  
        $(document).ready(function() 
        {  
            window.top.window.iFrameHeight();
            window.top.window.callApplicationCount();
        });

        function callmyModal_1(u){
            window.top.window.myModalImage(u);
        }
    </script>
    
</head>
<body>

<div id="page-wrapper" >
    <div class="row">
        <div class="col-md-12">        
            <h1 class="page-header">
                企业文化建设
            </h1>
        </div>
    </div>
    <!-- 企业文化建设文字介绍 -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="icon-user"></i>
                    文字介绍
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            {$build.content}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a type="button" style="width:100%;margin-top:8px;" class="btn btn-success" href="{:U('Culture/alter_build_text')}?id={$build.id}">修改文字介绍</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 企业文化建设图片 -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="icon-group"></i>
                    图片介绍
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8" style="padding-top:8px;">
                            <p>添加企业文化建设图片介绍。</p>
                        </div>
                        <div class="col-md-4">
                            <div style="float:right;"><a href="{:U('Culture/add_picture')}" style="width:100px;"type="button" class="btn btn-primary"> 添 加 图 片 </a></div>
                        </div>
                    </div>
                </div>  
                <table class="table table-hover" style="border-bottom:1px solid #DDD;">
                    <thead>
                        <tr>
                          <th class="col-md-4"><div align="center">序号</div></th>
                          <th class="col-md-4"><div align="center">图片</div></th>
                          <th class="col-md-4"><div align="center">操作</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <foreach name='picture' item ='data' key='key'>
                        <tr>
                            <th scope="row">
                                <div align="center">
                                    <div style="padding-top:15px;">{$key+1}</div>
                                </div>
                            </th>
                            <td>
                                <div align="center">
                                    <a href="#" onclick="callmyModal_1('__ROOT__{$data.pic_adr}')">
                                        <img src="__ROOT__{$data.pic_adr}" class="img-rounded" style="height:50px;">
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div align="center">
                                    <div style="width:200px;padding-top:10px;">
                                        <a href="{:U('Culture/alter_picture')}?id={$data.id}" type="button" class="btn btn-success">修 改</a>
                                        <a href="{:U('Culture/delete_picture_handle')}?id={$data.id}" type="button" class="btn btn-danger">删 除</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </foreach>
                    </tbody>
                </table>      
            </div>
        </div>
    </div>
</div>
</body>
</html>