<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$name.content}</title>
<link href="__PUBLIC__/Index/css/style.css" rel="stylesheet" type="text/css" media="all">
<script src="__PUBLIC__/Index/js/jquery.min.js"></script>
<script src="__PUBLIC__/Index/js/zzsc.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
</head>

<script type="text/javascript">
function checkEmail()
 {
  var emailValue=document. getElementById("email").value;
  if (!isEmail(emailValue))
  {
   alert("E－mail format error, please input again!");
   document. getElementById("email").focus();
   return false;
  }
  var nameValue=document. getElementById("name").value;
  if(!checkNull('name')){
    alert("please input Name");
    document. getElementById("name").focus();
    return false;
  }

  if(!checkNull('company_name')){
    alert("please input Company Name");
    document. getElementById("company_name").focus();
    return false;
  }

  if(!checkNull('telephone')){
    alert("please input Telephone");
    document. getElementById("telephone").focus();
    return false;
  }

  if(!checkNull('comments')){
    alert("please input comments");
    document. getElementById("comments").focus();
    return false;
  }
  document.forms['form'].submit();
  return true;
 }

function checkNull(str){
    var name = document.getElementById(str).value.replace(/[]/g,"");//把所有空格去掉
    if(name.length==0){
        return false;
    }
    return true;
}
 
function isEmail(str){
    var reg = /^(\w)+(\.\w+)*@(\w)+((\.\w+)+)$/;
    return reg.test(str);
}
</script>

<body class="home blog custom-background">
    <div class="wrapper">
        <header id="branding" >
            <!--<img src="images/LOGO.jpg">-->
             <div class="main_top">
                <img alt="" src="__PUBLIC__/Image/LOGO2.png">
                <div id="trans">
                    <div class="contry_box">
                        <a href="?lang=zh-cn">
                            <img alt="" src="__PUBLIC__/Image/contry01.jpg">
                            <div class="text_center">中文</div>
                       </a>
                   </div> 
                   <div class="contry_box">
                        <a href="?lang=en-us">
                            <img alt="" src="__PUBLIC__/Image/contry02.jpg">
                            <div class="text_center">English</div>
                       </a>
                  </div>
              </div>
            </div>
<!--导航-->
 <nav id="main-nav" class="clearfix">
    <div class="container clearfix">
        <ul class="root">
            <li><a href="{:U('Index/index')}">Home</a></li>
            <li><a href="{:U('About/index')}">About us</a>
                <ul class="sub-menu">
                    <li><a href="{:U('About/index')}">Company Profile</a></li>
                    <li><a href="{:U('About/achievement')}">Market Success</a></li>
                </ul>
            </li>
            <li><a title="" href="#">Product Center</a>
                <ul class="sub-menu">
                    <li><a href="{:U('Production/hard')}">Rigid PCB</a></li>
                    <li><a href="{:U('Production/soft')}">FPC</a></li>
                    <li><a href="{:U('Production/mixture')}">Rigid-flex</a></li>
                </ul>
            </li>
            <li><a title="" href="#">Technical Support</a>
                <ul class="sub-menu">
                    <li><a href="{:U('Support/device')}">Equipment Display</a></li>
                    <li><a href="{:U('Support/process')}">Technological Process</a></li>
                    <li><a href="{:U('Support/ability')}">Technical Capability</a></li>
                </ul>
            </li>
            <li><a title="" href="{:U('Quality/index')}">Qualification Certificate</a></li>
            <li><a title="" href="#">Culture</a>
                <ul class="sub-menu">
                    <li><a href="{:U('Culture/index')}">Corporate Philosophy</a></li>
                    <li><a href="{:U('Culture/news')}">News</a></li>
                </ul>
            </li>
            <li><a title="" href="#">Join Us</a>
                <ul class="sub-menu">
                    <li><a href="{:U('Recruit/idea')}">Talents Principle</a></li>
                    <li><a href="{:U('Recruit/welfare')}">Compensation And Benefit</a></li>
                </ul>
            </li>
            <li class="current_page_item current-menu-item" ><a title="" href="{:U('Contact/index')}">Contact us</a></li>
            <li class="default-menu"><a href="#" title="Navigation">Navigation</a></li></ul></div>
</nav><!-- #main-nav -->
</header>
<!--导航结束->


<!--内容-->
<div class="callbacks_container">
    <img src="__ROOT__{$figure.pic_adr}" width="100%" alt="">
</div>


<div id="main">
	<div class="container">
		
         <div class="contact">
         	<div class="contact_title">
            	<h5>Contact Us</h5>
            </div>
            
         	<div class="contact_box">
            
            
            
                <div class="contact_img">
                	<ul>
            		<li>
                		Tel：{$telephone.content}
                	</li>
                	<li>
                		Fax：{$fax.content}
                	</li>
                	<li>
                		<a href="{$email.content}">E-mail：{$email.content}</a>
                	</li>
                    <li>
                		website：{$website.content}
                	</li>
                    <li>
                		Office：{$office.content}
                	</li>
                    <li>
                		Shenzhen Factory：{$factory_shenzhen.content}
                	</li>
                    <li>
                		Huizhou Factory：{$factory_huizhou.content}
                	</li>
            	</ul>   
                    
                
                <div class="map_box"style="width:450px;height:350px;border:#ccc solid 1px;" id="dituContent01"></div>
                </div>
                <form enctype="multipart/form-data" class="form-signin" role="form" action="{:U('Contact/add_contact_en')}" method='post' id="form">
                <div class="contact_data">
                    <font>Name:</font>
                    <div class="contact_input">
                    	<input id="name" name="name" tyle="text">
                    </div>
                    <font>E-mail:</font>
                    <div class="contact_input">
                    	<input id="email" name="email" tyle="text">
                    </div>
                    <font>Company Name:</font>
                    <div class="contact_input">
                    	<input id="company_name" name="company_name" tyle="text">
                    </div>
                    <font>Telephone:</font>
                    <div class="contact_input">
                    	<input id="telephone" name="telephone" tyle="text">
                    </div>
                    <font>Comments:</font>
                    <div class="contact_input">
                    	<textarea id="comments" name="comments" ></textarea>
                    </div>
                    <div class="contact_btn_box">
                        <a href="#" class="btn btn-bottom" onclick="checkEmail()">Submit</a>
                    </div>
                </div>
                </form>
             </div><!--contact_box-->
         </div>
      
</div><!-- .container -->
			
         
	</div>
    
    <div id="footer">
        <div class="container">
            <div class="foot_box">Copyright © {$name.content} Tel:{$telephone.content} Fax:{$fax.content} Records:{$beian.content}</div>   
        </div>
    </div>
    
</div>

	
</div>



</body>



<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }
    
    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("dituContent01");//在百度地图容器中创建一个地图
        var point = new BMap.Point(114.252294,22.716718);//定义一个中心点坐标
        map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }
    
    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    
    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
	var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
	map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
	var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
	map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
	var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
	map.addControl(ctrl_sca);
    }
    
    //标注点数组
    var markerArr = [{title:"{$name.content}",content:"{$office.content}",point:"114.252294|22.716818",isOpen:1,icon:{w:23,h:25,l:46,t:21,x:9,lb:12}}
		 ];
    //创建marker
    function addMarker(){
        for(var i=0;i<markerArr.length;i++){
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0,p1);
			var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
			var iw = createInfoWindow(i);
			var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
			marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                        borderColor:"#808080",
                        color:"#333",
                        cursor:"pointer"
            });
			
			(function(){
				var index = i;
				var _iw = createInfoWindow(i);
				var _marker = marker;
				_marker.addEventListener("click",function(){
				    this.openInfoWindow(_iw);
			    });
			    _iw.addEventListener("open",function(){
				    _marker.getLabel().hide();
			    })
			    _iw.addEventListener("close",function(){
				    _marker.getLabel().show();
			    })
				label.addEventListener("click",function(){
				    _marker.openInfoWindow(_iw);
			    })
				if(!!json.isOpen){
					label.hide();
					_marker.openInfoWindow(_iw);
				}
			})()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }
    
    initMap();//创建和初始化地图
</script>

</html>
