<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <title>关于我们(英文)</title>
    <link rel="icon" href="__PUBLIC__/Uploads/img/logo.png">
    <!-- Bootstrap core CSS -->
    <link href="__PUBLIC__/Admin/Css/bootstrap.min.css" rel="stylesheet">
    <script src="__PUBLIC__/Admin/Js/jquery.min.js"></script>
    <script src="__PUBLIC__/Admin/Js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/Js/docs.min.js"></script>
    <script src="__PUBLIC__/Admin/Js/ie10-viewport-bug-workaround.js"></script>

    <!-- Font-awesome core CSS -->
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="__PUBLIC__/Admin/Css/Operation.css" rel="stylesheet">

    <script type="text/javascript">
        $(document).ready(function() 
        {  

        });
    </script>
    
</head>
<body>

<div id="page-wrapper" >
    <div class="row">
        <div class="col-md-12">        
            <h1 class="page-header">
                关于我们(英文)
            </h1>
        </div>
    </div>
    <!-- 关于我们 -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="icon-user"></i>
                    关于我们(英文)
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            {$about.content}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a type="button" style="width:100%;margin-top:8px;" class="btn btn-success" href="{:U('About/alter_en')}?id={$about.id}">修 改 关 于 我 们</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>