<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>合创电路有限公司</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all">
<script src="./js/jquery.min.js"></script>
<script src="js/jquery.js"></script>
<script src="./js/jquery.tableui.js"></script>
<script type="text/javascript">
					$(function(){
						$(".table_solid").tableUI();
					});
</script>
</head>

<body class="home blog custom-background">
	<div class="wrapper">
		<header id="branding" >
        	<!--<img src="images/LOGO.jpg">---->
            <div class="main_top">
            	<img alt="" src="images/LOGO2.png">
            	<div id="trans">
                	<div class="contry_box">
                    	<a href="#">
                        	<img alt="" src="images/contry01.jpg">
                            <div class="text_center">中文</div>
                       </a>
                   </div> 
                   <div class="contry_box">
                   		<a href="#">
                        	<img alt="" src="images/contry02.jpg">
                            <div class="text_center">English</div>
                       </a>
                  </div>
              </div>
            </div>
<!--导航---->
<nav id="main-nav" class="clearfix">
	<div class="container clearfix">
    	<ul class="root">
    		<li><a href="index.html">首页</a></li>
			<li><a href="about.html">关于我们</a>
            	<ul class="sub-menu">
					<li><a href="about.html">公司简介</a></li>
					<li><a href="achievement.html">市场成就</a></li>
				</ul>
            </li>
			<li><a title="" href="#">产品中心</a>
            	<ul class="sub-menu">
					<li><a href="proshowhard.html">硬板</a></li>
					<li><a href="proshowsoft.html">软板</a></li>
                    <li><a href="proshowhs.html">软硬结合版</a></li>
				</ul>
            </li>
			<li  class="current_page_item current-menu-item"><a title="" href="#">技术支持</a>
            	<ul class="sub-menu">
					<li><a href="macshow.html">设备展示</a></li>
					<li><a href="process.html">生产流程</a></li>
                    <li><a href="capacity.html">生产能力</a></li>
				</ul>
            </li>
			<li><a title="" href="quality.html">资质证书</a></li>
			<li><a title="" href="#">企业文化</a>
            	<ul class="sub-menu">
					<li><a href="culture.html">企业理念</a></li>
					<li><a href="new.html">新闻中心</a></li>
				</ul>
            </li>
			<li><a title="" href="#">人才招聘</a>
            	<ul class="sub-menu">
					<li><a href="talentidea.html">人才理念</a></li>
					<li><a href="welfare.html">酬薪福利</a></li>
				</ul>
            </li>
			<li><a title="" href="contact.html">联系我们</a></li>
			<li class="default-menu"><a href="#" title="Navigation">Navigation</a></li></ul></div>
</nav><!-- #main-nav -->
</header>
<!--导航结束--->



<!--内容-->
<div id="main">
	<div class="container">
        <div class="pro_introduce">
         	<div class="pro_title">
            	<h5>制程能力</h5>
            </div>
         	<div class="pro_box">
        		<div class="img_center">
                
        			<table class="table_solid" border="0" cellspacing="0">
                        <tr><th>项目</th><th>参数</th><th>备注</th></tr>
                        <tr><td>最大拼版尺寸</td><td>32" x 20.5"(800mm x 520mm)</td><td></td></tr>
                        <tr><td>内层最小线宽/线距</td><td>4mil/4mil(0.1mm/0.1mm)</td><td></td></tr>
                        <tr><td>内层最小焊盘</td><td>5 mil(0.13mm)</td><td>指孔环宽度</td></tr>
                        <tr><td>最薄内层厚度</td><td>4 mil(0.1mm)</td><td>不含铜箔</td></tr>
                        <tr><td>内层铜箔厚度</td><td>1~4 oz</td><td></td></tr>
                        <tr><td>外层铜箔厚度</td><td>0.5~6 oz</td><td></td></tr>
                        <tr><td>完成板厚度公差±0.10 mm</td><td>±0.10 mm</td><td>1~4层板</td></tr>
                        <tr><td>完成板厚度公差±10%</td><td>±10%</td><td>6~8层板</td></tr>
                        <tr><td>完成板厚度公差±10%</td><td>±10%</td><td>≥10 层板</td></tr>
                        <tr><td>完成板厚度</td><td>0.4-3.2 mm</td><td></td></tr>
                        <tr><td>内层处理工艺</td><td>棕化</td><td></td></tr>
                        <tr><td>可制作层数</td><td>1－24 LAYER</td><td></td></tr>
                        <tr><td>多层板间对准度</td><td>±2mil</td><td></td></tr>
                        <tr><td>最小钻孔孔径</td><td>0.15 mm</td><td></td></tr>
                        <tr><td>最小完成孔径</td><td>0.1 mm</td><td></td></tr>
                        <tr><td>孔位精度</td><td>±2 mil(±50 um)</td><td></td></tr>
                        <tr><td>槽孔公差</td><td>±3 mil(±75 um)</td><td></td></tr>
                        <tr><td>镀通孔孔径公差</td><td>±3 mil(±75um）</td><td></td></tr>
                        <tr><td>非镀通孔孔径公差</td><td>±2mil(±50um)</td><td></td></tr>
                        <tr><td>孔电镀最大纵横比</td><td>8:1</td><td></td></tr>
                        <tr><td>孔壁铜厚度</td><td>15-50um</td><td></td></tr>
                        <tr><td>外层图形对位精度</td><td>4mil/4mil</td><td></td></tr>
                        <tr><td>外层最小线宽/线距</td><td>4mil/4mil</td><td></td></tr>
                        <tr><td>蚀刻公差</td><td>+/-10%</td><td></td></tr>
                        <tr><td>线顶</td><td>0.4-1.2mil(10-30um)</td><td></td></tr>
                        <tr><td>防焊剂厚度（线角）</td><td>≥0.2mil(5um)</td><td></td></tr>
                        <tr><td>防焊剂厚度（基材上）</td><td>≤完成厚+1.2mil</td><td></td></tr>
                        <tr><td>防焊剂硬度</td><td>6H</td><td></td></tr>
                        <tr><td>防焊图形对位精度</td><td>±2mil(+/-50um)</td><td></td></tr>
                         <tr><td>阻焊桥最小宽度</td><td>4mil(100um)</td><td></td></tr>
                        <tr><td>塞油最大孔径</td><td>0.5mm</td><td></td></tr>
                         <tr><td>表面处理</td><td>喷锡、无铅喷锡、化学沉金、沉镍，电金手指、镀金、OSP抗氧化、沉银</td><td></td></tr>
                        <tr><td>金手指最大镀镍厚度</td><td>280u"(7um)</td><td></td></tr>
                        <tr><td>金手指最大镀金厚度</td><td>30u"(0.75um)</td><td></td></tr>
                        <tr><td>沉镍金镍层厚度范围</td><td>120u"/240u"(3um/6um)</td><td></td></tr>
                         <tr><td>沉镍金金层厚度范围</td><td>2u"/6u"(0.05um/0.15um)</td><td></td></tr>
                         <tr><td>阻抗控制及公差</td><td>50±10%,75±10%，100±10% 110±10%</td><td></td></tr>
                        <tr><td>线路抗剥强度</td><td>≥61B/in(≥107g/mm)</td><td></td></tr>
                         <tr><td>翘曲度</td><td>0.75%</td><td></td></tr>
                    </table>
        		</div>
            </div>
        </div>
        


	</div><!-- .container -->
</div>
    
    <div id="footer">
    	<div class="container">
    		<div class="foot_box">Copyright © 合创电路有限公司 电话:+86 0755-89230220 传真:0755-89250616     粤ICP备11072830
</div>
        	
        </div>
    </div>
    
</div>

	
</div>



</body>
</html>
